@import "tailwindcss";

@layer base {
  html {
    overflow-y: auto !important;
    overflow-x: hidden;
    height: auto !important;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  body {
    overflow-y: auto !important;
    overflow-x: hidden;
    height: auto !important;
    min-height: 100%;
    position: relative;
    -webkit-overflow-scrolling: touch;
  }

  #root {
    min-height: 100%;
    height: auto !important;
    display: flex;
    flex-direction: column;
    overflow-y: visible !important;
  }
}
